@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    height: 66vh;
    width: 70%;
    margin-left: 15%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-size: cover;
}

div#carousel-title a {
    text-decoration: none;
}

div#carousel-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

ul {
    display: inline-block;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
    height: 60vh;

}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;

}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;

}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
    align-items: center;
}

#textoVideo {
    text-align:center;
    padding: 5px;
    border-radius: 5px;
}

#negrito {
    color:#1351d8;
    font-weight: bold;
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    border: none;
    color:white;
    background-color: #1351d8;
    border-radius: 6px;
    box-shadow: inset 0 0 0 0 #1351d8;
    transition: ease 0.4s;
    outline: none;
}

button:hover {
    box-shadow: inset 300px 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    color: #1351d8;
    border: solid 2px #1351d8
}

/* ---Responsividade--- */

@media screen and (max-width: 1070px) {
    div#carousel {
        width: 80vw;
        height: 0vh;
        padding: 15px;
    }
}

@media screen and (min-width: 850px) and (max-width: 900px) {
    div#carousel {
        width: 80vw;
        margin-left: 10%;
        height: 50vh;
        padding: 5px;
    }
}
@media screen and (min-width:480px) and (max-width: 850px) {
    div#carousel {
        width: 80vw;
        margin-left: 10%;
        height: 30vh;
        padding: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    div#carousel {
        width: 80vw;
        margin-left: 7%;
        height: 15vh;
        padding: 5px;

    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header nav a {
        font-size: 16px;
    }

    footer {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}